:root {
	--box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec040,
	inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #fff;
	--icon-shadow: 2px 2px 3px #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f3;
	font-family: "Arial", sans-serif;
}

