:root {
	--box-shadow: -10px -10px 30px #fff, 10px 10px 30px #aeaec040,
	inset -10px -10px 10px #aeaec025, inset 10px 10px 10px #fff;
	--icon-shadow: 2px 2px 3px #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f3;
	font-family: "Arial", sans-serif;
}

.btn_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.btn {
	height: 160px;
	width: 160px;
	border: none;
	background-color: rgba(94,94,98,0.45);
	padding: 20px;
	border-radius: 50%;
	box-shadow: var(--box-shadow);
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
	outline: none;

	i {
		font-size: 4rem;
		color: rgba(94,94,98,1);
		text-shadow: var(--icon-shadow);
		transition: text-shadow 0.3s ease-in-out;
	}
}

