* {
	--primary: white;
	--dark: #1f1a1a;
}

h1, h2 {
	text-align: center;
}

body {
	font-family: "Baskerville Old Face", Helvetica, sans-serif;
	height: 300vh;
	display: grid;
	place-items: center;
}

.content {
	width: 75%;
	max-width: 1240px;
	margin: 0 auto;
	display: flex;
	place-items: center;
	justify-content: center;
	gap: 5rem;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--primary);
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px auto;
	background-color: var(--dark);
	border: 1px solid var(--primary);
}

.card:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 1px;
	left: 1px;
	background-color: var(--dark);
	transition: 0.3s ease-in-out;
}

.card:hover::before {
	top: 0.65rem;
	left: 0.65rem;
}

.icon_js, .icon_css {
	font-size: 11rem;
	color: var(--primary);
	transition: transform 1s, opacity 1s;
	display: flex;
}

@keyframes appear {
	from {
		opacity: 0;
		transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

.icon_css {
	view-timeline: --animation block;
	animation-timeline:--animation;
	animation-name: appear;
	animation-fill-mode: both;
	animation-duration: 1ms;
}
