* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.text {
	font-size: 108px;
	color: #30343f;
	cursor: pointer;
}
