:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 90%;
}

.list_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.list_wrapper li {
  border: 1px solid white;
  padding: 0.5rem 1.25rem;
}

.pop_up {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f9fa;
  color: black;
  padding: 10px 20px;
  border-radius: 7px;
  transition: top 0.3s ease-out;
  z-index: 999;
}

.pop_up.show {
  top: 20px;
}

.icon_wrapper {
  position: relative;
  display: inline-block;
}

.clipboard_icon {
 color: yellow;
}

.icon_wrapper::before {
  content: "copy";
  position: absolute;
  top: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: brown;
  padding: 0 0.5rem;
  border-radius: 7px;
}

.icon_wrapper:hover::before {
  opacity: 1;
}
