:root {
  --grid-size: 70px;
  --grid-color: hsla(191, 97%, 52%, 0.42);
  --mask-angle: -53deg;
  --mask-gradient: linear-gradient(var(--mask-angle), transparent 57%, white);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:
    linear-gradient(
        90deg,
        var(--grid-color) 1px,
        transparent 1px var(--grid-size)
      )
      50% 50% / var(--grid-size) var(--grid-size),
    linear-gradient(var(--grid-color) 1px, transparent 1px var(--grid-size)) 50%
      50% / var(--grid-size) var(--grid-size);
  mask: var(--mask-gradient);
  -webkit-mask: var(--mask-gradient);
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}
