* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baskerville Old Face", serif;
  background: #1d262e;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    font-size: clamp(3rem, 18vw, 107rem);
    color: transparent;
    -webkit-text-stroke: 0.12rem var(--grid-color);
  }
}

.bubble_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubble {
  position: absolute;
  bottom: -70px;
  border-radius: 50%;
  background: radial-gradient(
      circle at 30% 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3) 40%,
      rgba(255, 255, 255, 0.1) 60%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    radial-gradient(
      circle at 70% 70%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.1) 30%,
      transparent 60%
    );
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(255, 255, 255, 0.3);
  animation: rise 8s infinite ease-in;
}

@keyframes rise {
  0% {
    transform: translateY(0) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1);
  }
}
