* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #212121;
}

.zoom-container {
  width: 500px;
  height: 420px;
  overflow: hidden;
  position: relative;
  border: 1px solid #23f1d1;
}

.zoom-image {
  width: 100%;
  height: 100%;
  transition: transform 0.9s ease-in-out;
}

.zoom-container:hover .zoom-image {
  transform: scale(2.5);
  cursor: zoom-in;
}
