:root {
  --_background: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Century Gothic", sans-serif;
  background: var(--_background);
  margin: 5rem 0;
}

.content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;

  h1 {
    position: relative;
  }

  h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 7%;
    height: 0.5rem;
    background: #9b4be8;
  }

  p {
    margin: 1em 0;
    line-height: 1.7;
    text-align: left;

    i {
      float: left;
      font-size: 5rem;
      margin: 0 0.55rem 0 0;
    }
  }
}

.cards_container {
  padding: 1.25rem;

  .card {
    background: var(--_background);
    min-height: 200px;
    margin: 2rem 0;
    border: 1px solid #cccccc;
    padding: 1.55rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    position: sticky;
    top: 20px;
  }
}
