:root {
	--rgba-color: rgba(0, 0, 0, 0.3);
	--dark-grey: #333333;
	--blue: #28E5E8FF;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: var(--blue);
	background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(56,192,180,1) 10%, rgba(73,192,168,1) 18%, rgba(93,191,155,1) 27%, rgba(111,190,143,1) 35%, rgba(124,190,134,1) 41%, rgba(148,190,117,1) 52%, rgba(168,189,104,1) 61%, rgba(185,189,92,1) 69%, rgba(222,188,66,1) 86%, rgba(253,187,45,1) 100%);
	background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(56,192,180,1) 10%, rgba(73,192,168,1) 18%, rgba(93,191,155,1) 27%, rgba(111,190,143,1) 35%, rgba(124,190,134,1) 41%, rgba(148,190,117,1) 52%, rgba(168,189,104,1) 61%, rgba(185,189,92,1) 69%, rgba(222,188,66,1) 86%, rgba(253,187,45,1) 100%);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(56,192,180,1) 10%, rgba(73,192,168,1) 18%, rgba(93,191,155,1) 27%, rgba(111,190,143,1) 35%, rgba(124,190,134,1) 41%, rgba(148,190,117,1) 52%, rgba(168,189,104,1) 61%, rgba(185,189,92,1) 69%, rgba(222,188,66,1) 86%, rgba(253,187,45,1) 100%);
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
}

header {
	text-align: center;
	padding: 1rem 0;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer {
	text-align: center;
	padding: 1rem 0;
}

/*Section styles*/
#description {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
	text-align: justify;
}

#description h2 {
	margin-bottom: 10px;
}

#description p {
	margin-bottom: 15px;
}

#description ul {
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 15px;
}

#description ul li {
	margin-bottom: 10px;
}
