* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header, footer {
	align-items: center;
	background-color: #d2ff38;
	text-align: center;
	padding: 1rem 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

nav ul li {
	display: inline;
	margin: 0 10px;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

section {
	max-width: 860px;
	width: 90%;
	margin: 5rem auto;
}

.weather-ticker {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	white-space: nowrap;
	overflow: hidden;
}

.weather-ticker-content {
	display: inline-block;
	padding-left: 100%;
	animation: ticker 35s linear infinite;
	font-size: 2rem;
	color: #4cdc4c;
}

@keyframes ticker {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

